appdirs==1.4.4
asgiref==3.6.0
atomicwrites==1.4.0
crispy-bootstrap5==2025.6
cssselect2==0.9.0
Django==4.2
django-crispy-forms==2.5
django-extensions==4.1
djangorestframework==3.14.0
docopt==0.6.2
fonttools==4.63.0
gunicorn==26.2.0
jsonpointer==2.1
matplotlib==3.10.0
polars==1.38.1
polars-runtime-32==1.38.1
pydyf==0.12.1
pyphen==0.17.2
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyls-spyder==0.4.0
pyasn1-modules==0.2.8
pytz==2023.3
setuptools==75.1.0
sqlparse==0.4.3
stem==1.8.2
stemgraphic==0.9.1
tinycss2==1.5.1
tinyhtml5==2.1.0
virtualenv==20.30.0
weasyprint==69.0
wheel==0.44.0
zopfli==0.4.2
zstandard==0.25.0