{% extends 'base.html' %}
{% block title %} Башкы бет {%endblock%}

{% load static %}

{% block content %}
<style>
  body{
    margin-left: 250px;
    /* margin-top: 40px ; */
 
  }
  .mainshadow{
    box-shadow: 0 0 20px rgb(13, 167, 255);   
  }
  h1 {
  display: flex;
  align-items: center;
  font-size:4vw;
}
.zoom {
   padding: 5px; 
  /* background-color: green; */
  transition: transform  .3s; /* Animation */
   /* width: 200px;
  height: 200px;  */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
h3{
  display: inline-block !important;
  font-size:2vw;
}
.custom_border{
  border: 3px solid rgb(34, 133 , 195);
  border-radius: 10px; 
  padding:10px;
  box-sizing: border-box;
 
}
.custom_border h1 {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
.overflow-wrap {
  overflow-wrap: break-word;
}
hr{
  margin:20px; 
  visibility: hidden;
}

.custom-card {
    max-width: 80%;
    padding: 5px;
    /* box-sizing: border-box; */
    display:inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    }
   
  .custom-card h2 {
    margin: 0;
  }

  /* here I want to target all the screens */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
  body ,.container{
    /* width: 100%; Remove any padding that might affect the full width  */ 
    padding: 0;
    margin: 0;
  }
.col-auto.col-md-3 {
       display:block;  /*<!---Here how to show the menu from side--> */
    }

    /* Show the hamburger menu container */
    .col-auto.d-md-none {
      display: block;
    }  
   
/* Hide the entire navigation section */

  .hamburger-menu {
    display: block; /* Show the hamburger icon */
    transform: translateY(-65px);
    border: 3px solid rgb(15,60,88);
    border-radius: 10px ;
    padding-left:  10px;
   
  }

  .sidebar{
    /* display: none !important; */
    transform: translateX(-100%);
    z-index: 1;
    display: block;
    position:fixed;
         
  }
  .sidebar.show{
    transform: translateX(0);
    z-index: 2;
    
    
  }
  .sidebar a {
    display: block;
    padding: 5px;
    text-decoration: none;
    /* color: #333; */
   
}
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  body ,.container{
     /* width: 100%; Remove any padding that might affect the full width  */
    padding: 0;
    margin: 0;
  }
.col-auto.col-md-3 {
       display:block;  /*<!---Here how to show the menu from side--> */
    }

    /* Show the hamburger menu container */
    .col-auto.d-md-none {
      display: block;
    }  
   
/* Hide the entire navigation section */

  .hamburger-menu {
    display: block; /* Show the hamburger icon */
    transform: translateY(-65px);
    border: 3px solid rgb(15,60,88);
    border-radius: 10px ;
    padding-left:  10px;
   
  }

  .sidebar{
    /* display: none !important; */
    transform: translateX(-100%);
    z-index: 1;
    display: block;
    position:fixed;
         
  }
  .sidebar.show{
    transform: translateX(0);
    z-index: 2;
    
    
  }
  .sidebar a {
    display: block;
    padding: 5px;
    text-decoration: none;
    /* color: #333; */
   
}
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  body ,.container{
      /*Remove any padding that might affect the full width  */  
    padding: 0;
    margin: 1%;
  }
.col-auto.col-md-3 {
       display:block;  /*<!---Here how to show the menu from side--> */
    }

    /* Show the hamburger menu container */
    .col-auto.d-md-none {
      display: block;
    }  
   
/* Hide the entire navigation section */

  .hamburger-menu {
    display: block; /* Show the hamburger icon */
    transform: translateY(-65px);
    border: 3px solid rgb(15,60,88);
    border-radius: 10px ;
    padding-left:  10px;
   
  }

  .sidebar{
    /* display: none !important; */
    transform: translateX(-100%);
    z-index: 1;
    display: block;
    position:fixed;
         
  }
  .sidebar.show{
    transform: translateX(0);
    z-index: 2;
    
    
  }
  .sidebar a {
    display: block;
    padding: 5px;
    text-decoration: none;
    /* color: #333; */
   
}
}
/* // Large devices (desktops, less than 1200px) */

/* End of screen target */

/* h1, h2, h3 {
  max-width: 100%; /* Prevent text overflow on small screens */
*/
.container{
  width: 90%;
  max-width: 600px;
}

</style>

<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="position-relative p-5 text-center" >
    <h1>Математика мугалимдери үчүн даяр материалдар</h1> 
    <hr>
    <div class="row align-items-md-stretch custom_border" style="background-color: bisque;" >
      <div class="col-md-10">
        <div class="h-100 rounded-1">                
          <div class="d-flex flex-column text-center overflow-wrap">
            <!-- <h1 ></h1>  -->
          </div>
        </div>
      </div>
      
      <div class=" col-md-12 col-lg-6 ">
        <div class="h-100 p-5 " >
          <h2 class="fw-bold text-center overflow-wrap">6500дөн ашык ресурстар…</h2>

            <h2><span style="color: green; font-size: 48px;">&#10003;</span>650дөн ашык темалар…</h2>            
            <h2> <span style="color: green; font-size: 48px;">&amp;</span>өсүүдө</h2>
        </div>
      </div>

        
      <div class="col-md-6">
          <div class="h-100 rounded-1">                
            <div class="d-flex flex-column  zoom">
                <img class="img-fluid mx-auto  mainshadow " src="{% static 'img/GraphIllustration.png' %}" alt="mathKG" style="border-radius:3%;" >
            </div>
          </div>
      </div>
      <!---End of presentation sections-->
      <hr >

      
      <!---Second sections-->
      <hr>
      <div class="container">
        <!-- <div class="col-md-12 custom_border" style="background-color: springgreen;">
          <div class="h-100 rounded-1">
            <div class="d-flex flex-column text-left overflow-wrap">
              <h3 class="fw-bold" >Эсиңизде болсун, педагог катары таасириңиз муундарды калыптандырат. 
                Таасирлүү мугалимдердин бири болунуз</h3>
            </div>
          </div>
        </div> -->
      
      <!-- registration buttons -->
      {% if user.is_authenticated %}
       <!-- User is logged in, hide registration links -->
      {% else %}
      <!-- <div class="container-fluid"  > -->
        <hr>
        <div class=" mb-3 text-center" >
          <div class="col" >
            <div class="card mb-4 rounded-3 shadow-sm" >
              <div class="card-header py-3" >
                <h2 class="my-0 fw-normal">Катталыңыз</h2>
              </div>
              <div class="card-body">
                <h2 class="card-title pricing-card-title">1000 с<small class="text-body-secondary fw-light">/жылына</small></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Презентациялар бекер</li>
                  <li>көнүгүүлөр бекер</li>
                  <li>электрондук почта колдоо</li>
                  <!-- <li>Help center access</li> extra help can be addedd-->
                </ul>
                <a href="{% url 'register' %}" type="button" class=" btn btn-lg btn-primary">Катталыңыз</a>
              </div>
            </div>
          </div>
          <div class="col">
            <!-- <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h2 class="my-0 fw-normal">Мектепти каттаңыз</h2>
              </div>
              <div class="card-body">
                <h2 class="card-title pricing-card-title">3000 c<small class="text-body-secondary fw-light">/mo</small></h2>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Презентациялар бекер</li>
                  <li>көнүгүүлөр бекер</li>
                  <li>3 мугалим </li>
                  <!-- <li>Help center access</li> 
                </ul>
                <a href="{% url 'registerSchool' %}" type="button" class="w-100 btn btn-lg btn-primary">Катталыңыз</a>
              </div>
            </div> -->
          </div>
        </div>
      <!-- </div> -->
      {% endif %}

    </div>
    <hr>
    
      <h1>Презентациялар</h1>
      <div class="col-md-6">
        <div class="h-100 rounded-1">                
          <div class="d-flex flex-column  zoom">
              <img class="img-fluid mx-auto  mainshadow " src="{% static 'img/GraphIllustration.png' %}" alt="mathKG" style="border-radius:3%;" >
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary" >
            <h2 class="fw-bold text-left overflow-wrap">Математикалык ыкманы көрсөтүү үчүн анимацияланган PowerPoint слайдтары</h2>
            <h3> <span style="color: green; font-size: 48px;">&#10003;</span>Даяр көндүмдөр</h3>
            <h3><span style="color: green; font-size: 48px;">&#10003;</span>
              AFL суроолору же көндүмдөр камтылган</h3>
            <h3> <span style="color: green; font-size: 48px;">&#10003;</span>Толугу менен өзгөртүүгө-түзөтүүгө болот</h3>
         </div>
      </div>
     
      <!-- end of spot the mistake -->
      <hr >

      <h1>Математика боюнча иш барактар</h1>
      
      <div class="col-lg-6 ">
        <div class="h-100 p-5 bg-body-tertiary  text-center overflow-wrap">
          <h2 class="fw-bold text-center overflow-wrap">Структураланган жеке жана топтук практикалык суроолор</h2>
          <!-- here we have to add some tick icons -->
          <h2><span style="color: green; font-size: 48px;">&#10003;</span>Жоопторду салыштыруу</h2>
           <h2><span style="color: green; font-size: 48px;">&#10003;</span>Тез жана оңой басып чыгаруу</h2> 
            <h2><span style="color: green; font-size: 48px;">&#10003;</span>Бир нече өлчөмдөр</h2>
        </div>
      </div>
      <div class="col-md-6">
          <div class="h-100 rounded-1">                
            <div class="d-flex flex-column  zoom">
                <img class="img-fluid mx-auto  mainshadow " src="{% static 'img/GraphIllustration.png' %}" alt="mathKG" style="border-radius:3%;" >
            </div>
          </div>
      </div>
      <!-- end of  -->
              
      <!--End of Worksheet  sections-->

      <hr >
      <h1 >     Сабактагы иш-чаралар    </h1> 
      
      
      <div class="col-md-6">
        <div class="h-100 rounded-1">                
          <div class="d-flex flex-column  zoom">
              <img class="img-fluid mx-auto  mainshadow " src="{% static 'img/GraphIllustration.png' %}" alt="mathKG" style="border-radius:3%;" >
          </div>
        </div>
      </div>
      
      <div class="col-md-6 ">
        <div class="h-100 p-5 bg-body-tertiary ">
          <h2 class="fw-bold text-center overflow-wrap">Кинестетикалык көндүмдөр</h2>
          <h2><span style="color: green; font-size: 48px;">&#10003;</span>топтук- кызматташтык көндүмдөр</h2>
          <h2><span style="color: green; font-size: 48px;">&#10003;</span>конкурстук көндүмдөр</h2>
        </div>
      </div>    
            
      <!-- end of -->      
      
      <hr >         
      
      <!-- teacher-led activities -->
      <h1 >Мугалим жетектеген кондумдор</h1> 
      
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary "">
          <h2 class="fw-bold text-uppercase text-center overflow-wrap">Бүт класс үчүн тез кайталоо</h2>
          <h2><span style="color: green; font-size: 48px;">&#10003;</span>Үйрөнүү үчүн баалоо</h2>
          <h2><span style="color: green; font-size: 48px;">&#10003;</span>Үйрөнүнүү кепилдөө.</h2>
        </div>
      </div>

      
      <div class="col-md-6">
          <div class="h-100 rounded-1">                
            <div class="d-flex flex-column  zoom">
                <img class="img-fluid mx-auto  mainshadow " src="{% static 'img/GraphIllustration.png' %}" alt="mathKG" style="border-radius:3%;" >
            </div>
          </div>
      </div>
      
      <hr >
            
      <h1 >Экзамен суроолору</h1>
      

      <div class="col-md-6">
        <div class="h-100 rounded-1">                
          <div class="d-flex flex-column  zoom">
              <img class="img-fluid mx-auto  mainshadow " src="{% static 'img/GraphIllustration.png' %}" alt="mathKG" style="border-radius:3%;" >
          </div>
        </div>
      </div>
      
      <div class="col-md-6 ">
        <div class="h-100 p-5 bg-body-tertiary ">
          <h2 class="fw-bold text-uppercase text-center overflow-wrap"> ЖРТ </h2>
          <h2><span style="color: green; font-size: 48px;">&#10003;</span>Куболук</h2>
          <h2><span style="color: green; font-size: 48px;">&#10003;</span>Аттестат</h2>
          <h2><span style="color: green; font-size: 48px;">&#10003;</span>PISA</h2>
          <h3><span style="color: green; font-size: 48px;">&#10003;</span>Чыгарылган көндүмдөр</h3>
          <h3> <span style="color: green; font-size: 48px;">&#10003;</span>PDF & PPT</h3><br>
          <h3><span style="color: green; font-size: 48px;">&#10003;</span>2 өлчөмдө</h3>
        </div>
      </div>

      
      
   
      <hr >

      <h1 class="text-uppercase">Кайталоо</h1>
      
     
      <div class="col-md-6 ">
        <div class="h-100 p-5 bg-body-tertiary ">
          <h2 class="fw-bold text-uppercase text-center overflow-wrap">Максаттуу практика көндүмдөрү</h2>
          <h2><span style="color: green; font-size: 48px;">&#10003;</span>Сан сабаттуулугу</h2>

           <h2><span style="color: green; font-size: 48px;">&#10003;</span>PDF & PPT</h2> <br>
            <h2><span style="color: green; font-size: 48px;">&#10003;</span>бир канча өлчөмдө</h2>
        </div>
      </div>

      
      <div class="col-md-6">
          <div class="h-100 rounded-1">                
            <div class="d-flex flex-column  zoom">
                <img class="img-fluid mx-auto  mainshadow " src="{% static 'img/GraphIllustration.png' %}" alt="mathKG" style="border-radius:3%;" >
            </div>
          </div>
      </div>     
    </div>
  </div>
</div>

{% endblock content %}