<style type="text/css">
    .footer{
        min-height: 5px;
        border-top: 8px solid rgb(13, 167, 255);
        
        /* new css */
        position: relative;
        font-size: medium;
        color: blueviolet;
        

        
    }   


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      
      
      @media (max-width: 600px) {
        #footerSmall{
          margin-left: 60px;
          
          padding: 90px;
          /* background-color: brown; */
          text-align: center;
          align-items: center;
          font-size: 1.2rem;
         justify-content: center;
        
        }
      }
    
</style>

<!--Footer-->

<p class="footer"></p>
<div class="container-fluid" >
    <footer class="py-5 " >
      <div class="row ">
        <!-- <div class="col-6 col-md-2 mb-3 invisible">
          <h5 >Section</h5>
          <ul class="nav flex-column ">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div> -->
  
        <div class="col-md-3 " id="footerSmall" style="font-size: 24px; margin-left: 60px; padding: 30px; align-items: center; ">
          <!-- <h5>Section</h5> -->
          <ul class="nav flex-column" style="margin-left: 30px;">
            <li class="nav-item mb-3"><a href="#" class=" nav-link text-body-secondary">Сайттагы жанылыктар</a></li><hr>
            <li class="nav-item mb-3"><a href="#" class=" nav-link text-body-secondary">mathKG сайты жөнүндө кыскача</a></li><hr>
            <li class="nav-item mb-5"><a href="#" class=" nav-link text-body-secondary">Мугалимдер mathKG жөнүндө эмне дешет?</a></li><hr>
            <li class="nav-item mb-3"><a href="#" class=" nav-link text-body-secondary">Шарттар жана жоболор</a></li>
          </ul>
        </div>
  
        <div class="col-md-3" id="footerSmall" style=" font-size: 24px;margin-left: 60px; padding: 30px; align-items: center;">
        <ul class="nav flex-column" style="margin-left: 30px;">
            <li class="nav-item mb-2 " ><a href="#" class="nav-link text-body-secondary overflow-wrap" >Пикир билдирүү үчүн формасы</a></li><hr>
          </ul>
        </div>
        
        <div class="col-md-3 " id="footerSmall" style="font-size: 24px;margin-left: 60px; padding: 30px;align-items: center;">
          <ul class="nav flex-column" style="margin-left: 30px;" >          
            <li class="nav-item mb-2 "><a href="#" class="nav-link  text-body-secondary" >Мени менен байланыш:<hr>mathtrainer2023@gmail.com</a></li>
          </ul>           
        </div>
      </div>      
<!--Endof footer-->
  </footer>
</div>
<hr>
<div style="text-align: center; " >
  &copy; 2023-<script type="text/javascript">document.write(new Date().getFullYear());</script> MathKG 
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">


</script>

