{% load static %}
{% load menu_tags %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

<div class="fixed-top shadow-sm">

  <nav class="navbar navbar-expand-lg py-4" aria-label="Top navbar" 
       style="background: linear-gradient(135deg, #3761c2, #3761c2, #3761c2);">
    <div class="container-fluid">
      <button class="navbar-toggler"  
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNav" 
              aria-controls="navbarNav" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ms-auto align-items-center">
          <!--<li class="nav-item dropdown box">
            <a class="nav-link dropdown-toggle text-black " href="#" id="starterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Starter
            </a>
            <ul class="dropdown-menu" aria-labelledby="starterDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          
          <!-- <li class="nav-item dropdown box">
            <a class="nav-link dropdown-toggle text-black" href="#" id="kaitalooDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Кайталоо
            </a>
            <ul class="dropdown-menu" aria-labelledby="kaitalooDropdown">
              <li><a class="dropdown-item" href="#">kaitaloo</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          
          <li class="nav-item" id="searchForm">
            <form class="d-flex my-1 my-lg-0">
              <input class="form-control me-2" type="search" placeholder="Издөө" style="width: 150px;" aria-label="Search">
              <button class="btn btn-success" type="submit"><i class="fa fa-fw fa-search"></i></button>
            </form>
          </li>
          
          <li class="nav-item d-flex flex-wrap gap-1 ms-lg-2">
            {% if request.user.is_authenticated %}
              <a class="btn btn-success btn-sm topMenu text-uppercase" href="{% url 'home' %}">
                <i class="fa fa-fw fa-home" style="color:red"></i> Башкы бет
              </a>
              <a class="btn btn-success btn-sm topMenu text-uppercase" href="{% url 'logout' %}">
                <i class="fa fa-sign-out" style="color:red"></i> Чыгуу
              </a>
              <a class="btn btn-success btn-sm topMenu text-uppercase" href="{% url 'account' %}">
                <i class="fa fa-user" style="color:red;"></i> {{ request.user.username }}
              </a>
            {% else %}
              <a class="btn btn-success btn-sm topMenu text-uppercase" href="{% url 'home' %}"><i class="fa fa-fw fa-home" style="color:red;"></i> Башкы бет</a>
              <a class="btn btn-success btn-sm topMenu text-uppercase" href="{% url 'login' %}"><i class="fa fa-fw fa-user" style="color:red;"></i>Кирүү</a>
              <button type="button" class="btn btn-success btn-sm topMenu text-uppercase" data-bs-toggle="modal" data-bs-target="#subscribeModal"><i class="fa fa-user-plus" style="color:red;"></i> Катталуу</button>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg bg-light border-top">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">MathKGZ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#categoryNav" aria-controls="categoryNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="categoryNav">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 d-flex flex-row flex-wrap gap-2">
          {% include "partials/menu_node.html" with nodes=menu_items parent=False only %}
          <!-- {# CORRECT — `only` blocks the outer context from leaking in #} -->
        </ul>
      </div>
    </div>
  </nav>

</div>

{% include 'partials/subscribe_modal.html' %}

<script src="{% static 'js/header.js' %}"></script>