{% extends 'base.html' %}
{% block title %} Менин Баракчам {%endblock%}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<style>
 body{
    margin-left: 25%;
    /* margin-top: 40px ; */
     
  }
  @media (max-width: 600px) {
  body {
    width: 100%; /* Remove any padding that might affect the full width */
    padding: 0;
    margin: 0;
  }
}
 .mainshadow{
    box-shadow: 0 0 20px rgb(13, 167, 255);    
  }

    
  
  .form-signin {
    /* max-width: 600px; */
    padding: 15px;
    /* background-color:rgb(34, 133, 195); */
    position: relative;
    width: 100%;
    height: auto;
    
}
.container{
  width: 100%;
}



.h3{
  text-align: center;
} 

/*- Here is from bootstrap-*/
html,
body {
  height: 100%;
}

body {  
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5; */
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  border-radius: 2%;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
     

 
</style>

<!--END of the Styling-->

<!--beggining of the form-->
<form class="form-signin m-auto" method ="post"> 
  {% csrf_token %} {{form|crispy}}

    <h1 class="h3 mb-3 fw-normal" >Колдонуучунун аккаунту</h1> 
    
    <label for="email">
       <h4>name@example.com</h4>
    </label>
    <div class="form-floating">      
      <input type="text" id="email" class="form-control" name="email"  value="{{account.initial.email}}" >
    </div>
    <label for="username">
      <h4>Колдонуучунун аты </h4>
    </label>
    <div class="form-floating">
      <input type="text" class="form-control" name="username" id="floatingUsername" value="{{account_form.initial.username}}">
    </div>

    <!--Catching errors here -->
    {%for field in account_form%}
        <p>
            
            {% if field.help_text %}
                <small style="color:grey">{{field.help_text}}</small>
            {% endif%}

        </p>
    {%endfor%}
    <!--Invalid email or password errors,rasing error. -->
    {% for field in account_form %}
        {% for error in field.errors %}
            <p style="color:rgb(173, 23, 23)">{{error}}</p>
        {% endfor %}
    {% endfor %}

    {% if account_form.non_field_errors %}
            <div style="color:red;" >
                <p>{{account_form.non_field_errors}}</p>
            </div>
    {%endif %}
    
    {% if success_message %}
        <p style="color:green; text-align:center;">{{success_message}}</p>
    {% endif %}

    <button class="w-100 btn btn-lg btn-primary" type="submit">Өзгөрүүлөрдү сактоо</button>
    
</form>

  <div class="d-flex flex-column">
    <a class="m-auto" href="{% url 'password_change' %}">Change Password</a>
  </div>

{% endblock content %}