{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
.form-signin {
    max-width: 600px;
    padding: 15px;
    background-color:rgb(34, 133, 195);
    position: relative;
    width: 100%;
    height: 70%;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 36px;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 36px;
}

.form-signin input[type="password"] {
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 36px;
}

h3 {
    text-align: center;
}

.form-control:focus::placeholder {
    color: rgb(83, 74, 74) ;
}

.mainshadow {
    box-shadow: 0 0 20px rgb(13, 167, 255);
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}
</style>

<!--END of the Styling-->

<!--Beginning of the form-->
<div class="container-fluid" style="margin-top: 100px; margin-bottom: 50px;"> {% csrf_token %}
    <form class="form-signin m-auto mainshadow" method="post" action="{% url 'register' %}">       

        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Мектеп жазылуусу</h1>
        <h3>Мектепке жазылуу 3000 сом турат жана бир календарлык жыл мүмкүнчүлүгүн камсыз кылат.
        Бир колдонуучу аты жана сырсөз бүт мектеп колдонуу үчүн берилет.</h3>
        {% csrf_token %}
        <!-- Email input -->
        <br>
        <div class="form-floating">
            <input type="text" class="form-control" name="name" id="inputUsername"  placeholder="Сиздин атыңыз:" autofocus> </h2>
        </div>
        <!--email for school-->
        <div class="form-floating">
            <input type="email" class="form-control" name="email" id="inputEmail"  placeholder="Каттоо эсебинин электрондук почта дареги" autofocus> </h2>
        </div>

        <!-- Username input -->
        <div class="form-floating">
            <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Колдонуучунун аты" required>
            <!-- <label for="inputUsername">Колдонуучунун аты</label> -->
        </div>

        <!-- Password input -->
        <div class="form-floating" style="margin-bottom: 15px;font-size: 36px;">
            <input type="password" class="form-control" name="password1" id="inputPassword1" placeholder="Сырсөз" required>
            <!-- <label for="inputPassword1">Сырсөз</label> -->
        </div>

        <!-- Confirm password input -->
        <div class="form-floating">
            <input type="password" class="form-control" name="password2" id="inputPassword2" placeholder="Сырсөздү ыраста" required>
            <!-- <label for="inputPassword2">Сырсөздү ыраста</label> -->
        </div>

        <!-- Additional information for future analysis region, school name -->
        <div class="form-floating">
            <input type="text" class="form-control" name="region" id="inputRegion" placeholder="Аймак" required>
            <!-- <label for="inputRegion">Аймак</label> -->
        </div>

        <!-- School information -->
        <div class="form-floating">
            <input type="text" class="form-control" name="schoolname" id="inputSchoolNaame" placeholder="Мектептин аталышы" required>
            <!-- <label for="inputSchoolNaame">Мектептин аталышы</label> -->
        </div>

        <!-- Catching errors here -->
        <!-- Catching errors and displaying help text -->
                {% for field in registration_form %}
                {% if field.errors %}
                    <p style="color: red;">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
                {% if field.help_text %}
                    <p style="color: rgb(243, 186, 14);">
                        {% if field.name == 'email' %}
                            <span class="help-text">Электрондук почта дарегиңизди жазыңыз.</span>
                        {% elif field.name == 'username' %}
                            <span class="help-text">Колдонуучу атыңызды жазыңыз.</span>
                        {% elif field.name == 'password1' %}
                            <span class="help-text">Сырсөзүңүздү жазыңыз (кеминде 8 белги).</span>
                        {% elif field.name == 'password2' %}
                            <span class="help-text">Сырсөзүңүздү ырастаңыз.</span>
                        {% elif field.name == 'region' %}
                            <span class="help-text">Аймагыңызды жазыңыз</span>
                        {% elif field.name == 'schoolname' %}
                            <span class="help-text">Мектептин атын жазыңыз..</span>
                        {% else %}
                            {{ field.help_text }}
                        {% endif %}
                    </p>
                {% endif %}
                {% endfor %}


        <button class="w-100 btn btn-lg btn-primary" type="submit" style="margin-top: 50px;">катталуу</button>
    </form>
</div>



{% endblock content %}

