{% load static %}
<link rel="stylesheet" href="{% static 'css/content-placeholder.css' %}">

<div class="content-placeholder">

    <p class="content-placeholder__intro">{{ placeholder_intro }}</p>

    <div class="content-placeholder__grid">

        <div class="content-placeholder__card">
            <i class="fa-regular fa-file-powerpoint content-placeholder__icon"></i>
            <h4 class="content-placeholder__title">Сабактын презентациясы</h4>
            <span class="content-placeholder__badge">Даярдалууда</span>
        </div>

        <div class="content-placeholder__card">
            <i class="fa-regular fa-file-lines content-placeholder__icon"></i>
            <h4 class="content-placeholder__title">Иш баракча</h4>
            <span class="content-placeholder__badge">Даярдалууда</span>
        </div>

        <div class="content-placeholder__card">
            <i class="fa-regular fa-clone content-placeholder__icon"></i>
            <h4 class="content-placeholder__title">Көнүгүүлөр</h4>
            <span class="content-placeholder__badge">Даярдалууда</span>
        </div>

    </div>

</div>
