<div class="col-md-4">
    <div class="h-100 p-5 bg-body-tertiary text-center overflow-wrap">
      <h3 class="fw-bold text-uppercase">{{ title }}</h3>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="h-100 p-5 bg-body-tertiary">
  
      {% if user.is_authenticated %}
  
        {% for key,label in files %}
          {% with r=res|get_item:key %}
            {% if r %}
              <a class="btn btn-outline-primary anchorNew"
                 href="{% url 'download_resource' pk=r.id %}">
                 {{ label }}
              </a><hr>
            {% endif %}
          {% endwith %}
        {% endfor %}
  
      {% else %}
        <h5>Файлды жүктөп алуу үчүн сайтка катталышыныз керек</h5>
        <a class="btn btn-primary anchorNew" href="{% url 'register' %}">
          PPT
        </a>
      {% endif %}
  
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="h-100 rounded-1">
      <div class="d-flex flex-column zoom">
  
        {% with img=res|get_item:image %}
          {% if img and img.image %}
            <img class="img-fluid mx-auto mainshadow"
                 src="{{ img.image.url }}"
                 alt="{{ img.title }}"
                 style="border-radius:3%;">
          {% else %}
            <img class="img-fluid mx-auto mainshadow"
                 src="{% static fallback %}"
                 alt="mathKG"
                 style="border-radius:3%;">
          {% endif %}
        {% endwith %}
  
      </div>
    </div>
  </div>