{% extends 'base/base.html' %}

{% block title %}Амалдардын тартиби{% endblock %}

{% load static %}

{% block content %}

<!-- Load External CSS -->
<link rel="stylesheet" href="{% static 'css/operations.css' %}">

<div class="container d-flex flex-column justify-content-center align-items-center all-operations">

    <div class="position-relative p-5 text-center" style="margin-top: 10%;">

        <h1 style="font-size: 3rem; text-align:center;">Аралаш амалдар</h1>

        <div class="row align-items-md-stretch custom_border"
             style="background-color: bisque;">

            {% for section in sections %}

                <h1 style="font-size: 3rem; text-align:center;">{{ section.header }}</h1>
                <hr>

                {% for block in section.blocks %}
                    {% include 'components/operation_block.html' %}
                    <hr style="visibility: hidden; margin: 20px;">
                {% endfor %}

            {% endfor %}

        </div>

    </div>

</div>

{% endblock content %}